  <%= stylesheet_link_tag    "static_pages", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "static_pages", "data-turbolinks-track" => true %>
<div class="container-fluid">
<h1>Welcome to Better eBinder developer page!</h1>
</div>

<footer class="footer" id="contribute"><div class="container-fluid"><p><div class="col-xs-8">Part of <a href="http://rcos.io">Rensselaer Center for Open Source</a></div><div class="col-xs-4"><a href="https://github.com/kburk1997/BettereBinder">Source Code</a></div></p></div></footer>