
<div class="container-fluid">
	<div class="row" id="about">
		<div class="col-xs-12 text-center">
			<div class="start jumbotron">
				<h1>Simply better.</h1>
				<hr>
				<h4>Better eBinder is an open-source, easy-to-use, customizable platform for organizing your external documents into digital binders.</h4><br><a class="btn btn-default" href="#pricing">GET ORGANIZED TODAY</a><a class="btn btn-default" href="http://bit.ly/apples-stamford">SEE SAMPLE</a></div></div>
	</div>
	</div>
	<div class="container-fluid text-center">
	<div class="row text-center" id="pricing">
		<h1>Pricing Plans</h1>
		<br>
		<!--<div class="col-lg-1 visible-lg-*"></div>-->
		<div class="col-xs-8 col-sm-3">
			<div class="panel panel-free panel-primary">
				<div class="panel-heading"><h3>Better</h3><h2>$0/mo.</h2></div>
				
					<ul class="list-group">
						<li class="list-group-item">Up to <b>10</b> eBinders</li>
						<li class="list-group-item">Up to <b>10</b> tabs per eBinder</li>
						<li class="list-group-item">Up to <b>10</b> documents per tab</li>
						<li class="list-group-item">WYSIWYG customization</li>
					</ul>
				<div class="panel-body">
					<button class="btn btn-primary">GET STARTED</btn>
				</div>
			</div>
		</div>
		
		<div class="col-xs-8 col-sm-3">
			<div class="panel panel-premium panel-primary">
				<div class="panel-heading"><h3>Even Better</h3><h2>$10/mo.</h2></div>
				
					<ul class="list-group">
						<li class="list-group-item"><b>Unlimited</b> eBinders</li>
						<li class="list-group-item">Up to <b>20</b> tabs per eBinder</li>
						<li class="list-group-item">Up to <b>30</b> documents per tab</li>
						<li class="list-group-item">WYSIWYG customization</li>
					</ul>
				<div class="panel-body">
					<button class="btn btn-primary">GET STARTED</btn>
				</div>
			</div>
		</div>
	
	<div class="col-xs-8 col-sm-3">
			<div class="panel panel-super panel-primary">
				<div class="panel-heading"><h3>Best</h3><h2>$25/mo.</h2></div>
				
					<ul class="list-group">
						<li class="list-group-item"><b>Unlimited</b> eBinders</li>
						<li class="list-group-item"><b>Unlimited</b> tabs per eBinder</li>
						<li class="list-group-item"><b>Unlimited</b> documents per tab</li>
						<li class="list-group-item">WYSIWYG and CSS customization</li>
					</ul>
				<div class="panel-body">
					<button class="btn btn-primary">GET STARTED</btn>
				</div>
			</div>
		</div>
		
		<h2>Looking for a corporate or educational plan?</h2>
		<h3>Contact us <a>here</a>.</h3>
		<br>
		</div></div>

<footer class="footer" id="contribute"><div class="container-fluid"><p><div class="col-xs-8">Part of <a href="http://rcos.io">Rensselaer Center for Open Source</a></div><div class="col-xs-4"><a href="https://github.com/kburk1997/BettereBinder">Source Code</a></div></p></footer>