            <style>
            a .well .well-sm{
              margin-bottom: 2px;
            }
            </style>

            <ul class="nav nav-pills nav-stacked nav-outer" id="navbar">
              <%if @tabs%>

              <%@tabs.each do |t|%>
                <li>
                <%if t==(@tab)%>
                  <%=link_to do%>
                    <%t.title%>
                  <%end%>

                  <div id="subtabs">
                    <ul class="nav nav-inner">
                        <%@documents.each do |s|%>
                          <li><%=link_to s.title, binder_tab_document_path(@binder,@tab, s), :class => "well well-sm", :style => " margin-bottom: 2px;"%></li>
                        <%end%>
                    </ul>
                  </div>
                <%else%>
                  <%=link_to binder_tab_path(@binder,t) do%>
                    <%t.title%>
                  <%end%>
                <%end%>
                </li>
              <%end%>

              <%end%>
            </ul>