<!DOCTYPE html>
<html>
<head>
  <title>BettereBinder</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand"><img src="http://i.imgur.com/Vsh03gC.png" height="100%"></a>
		</div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<ul class="nav navbar-nav">
			<li><a>Register</a></li>
			<li><a>Log In</a></li>
		</ul>
					<div id="right-bar">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#about">About</a></li>
			<li><a href="#pricing">Pricing</a></li>
			<li><a href="#contribute">Contribute</a></li>
						</ul></div>
	</div>
	</div>
</nav>

<%= yield %>

<footer class="footer" id="contribute"><div class="container-fluid"><p><div class="col-xs-8">Part of <a href="http://rcos.io">Rensselaer Center for Open Source</a></div><div class="col-xs-4"><a href="https://github.com/kburk1997/BettereBinder">Source Code</a></div></p></footer>


</body>
</html>

